body {
    background-color: lightgrey;
}

.pizza-brothers {
    background-color: #761f18;
    margin: 8px 8px;
    display: flex;
    border: solid black 1px;

}

.pizza-brothers-welcome{
  display: flex;
  margin: 20px 350px;
  justify-content: center;
background-color: white;
    border: solid black 1px;


}

.pizza-brothers-welcome h1 {
    font-family: 'Roboto', sans-serif;
}






.pizza-brothers img {
    width: 10vh;
    margin: 8px 8px;
    border-radius: 25%;
}

.pizza-brothers p {
    padding: 30px 23px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;

}

.button-container {
  margin-left: auto; /* Pushes the button to the right */
  padding: 36px 36px;
}




.pizza-brothers:hover {
  animation-name: pizza-brothers-animation-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.pizza-brothers:not(:hover) {
  animation-name: pizza-brothers-animation-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/*animation for top bar*/

@keyframes pizza-brothers-animation-in {
  from {
    background-color: #761f18;
    margin: 8px;
    display: flex;
  }

  to {
    background-color: #761f18;
    margin: 8px;
    display: flex;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
  }
}

@keyframes pizza-brothers-animation-out {
  from {
    background-color: #761f18;
    margin: 8px;
    display: flex;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
  }

  to {
    background-color: #761f18;
    margin: 8px;
    display: flex;
  }
}





/* css for button*/
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74 a {
 text-decoration: none;
  color: #422800;
}

.button-74 a:hover {
 text-decoration: underline;
 
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/*media queries making it support other devices*/
@media (max-width: 767px) {

 .pizza-brothers {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pizza-brothers img {
    flex: 0 0 15%; 
  }
  

  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }


}