body {
    background-color: lightgrey;
}

.pizza-brothers {
    background-color: #761f18;
    margin: 8px 8px;
    display: flex;
    border: solid black 1px;

}

.cart-icon {
  width: 40px;
  height: 40px;
  position: relative; 
  top: 30px; 
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-cart" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> </svg>');
}

.cart-icon-container{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cart-icon-menus {
  width: 40px;
  height: 40px;
  top: 30px; 
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-cart" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> </svg>');
}

.cart-icon-menus:hover {
  cursor: pointer;

  background-color: rgba(0, 0, 128, 0.7); 

  border-radius: 8%;
}

.cart-icon-menus:active {
  cursor: pointer;

  background-color: rgba(0, 0, 100, 0.7); 

  border-radius: 8%;
}
.pizza-brothers-welcome {
  display: flex;
  justify-content: center;
  background-color: white;
    margin: 20px 350px;

  border: solid black 1px;
}

.pizza-brothers-welcome h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}



.menus{
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px; 
  padding: 20px; 
}


.menu-item {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
    transition: box-shadow 0.3s ease-in-out; 
}


.menu-item:hover{
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); 

}

.pizza-image {
  max-width: 65%;
  height: auto;
  margin-bottom: 10px; 
}

.pizza-brothers img {
    width: 10vh;
    margin: 8px 8px;
    border-radius: 25%;
}

.pizza-brothers p {
    padding: 30px 23px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;

}

.button-container {
  margin-left: auto;
  padding: 36px 36px;
}




.pizza-brothers:hover {
  animation-name: pizza-brothers-animation-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.pizza-brothers:not(:hover) {
  animation-name: pizza-brothers-animation-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}



@keyframes pizza-brothers-animation-in {
  from {
    background-color: #761f18;
    margin: 8px;
    display: flex;
  }

  to {
    background-color: #761f18;
    margin: 8px;
    display: flex;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
  }
}

@keyframes pizza-brothers-animation-out {
  from {
    background-color: #761f18;
    margin: 8px;
    display: flex;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
  }

  to {
    background-color: #761f18;
    margin: 8px;
    display: flex;
  }
}





.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74 a {
 text-decoration: none;
  color: #422800;
}

.button-74 a:hover {
 text-decoration: underline;
 
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (max-width: 767px) {

 .pizza-brothers {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pizza-brothers img {
    flex: 0 0 15%; 
  }
  

  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }


 .pizza-brothers-welcome {
    flex-direction: column; 
    margin: 20px 20px; 
  }

  .pizza-brothers-menus {
    flex-direction: column; 
    margin: 20px 20px; 
  }



}

